<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Orange</string>
	<string>Pineapple</string>
	<string>Raspberry</string>
	<string>Banana</string>
	<string>Pear</string>
	<string>Apple</string>
</array>
</plist>
